* {
    font-family: Arial;
    font-size: 16px;
}
body {
    margin: 0; 
    padding: 0;
    background-color: rgb(25, 25, 25);
}

.b{
    font-weight: bold;
}

.i{
    font-style: italic;
}

.n{
    font-style: none;
}
.ct{
    margin: 0 auto;
    text-align: center;
}
.lf{
    margin: 0 auto;
    text-align: left;
}
.rg{
    margin: 0 auto;
    text-align: right;
}
.jf{
    margin: 0 auto;
    text-align: justify;
}

#search{
    position: relative;
    height: 20px;
}
#search > ul > li{
    list-style: none;
    float: right;
    margin: 0px 10px;
}

.title-head{
    margin: 10px;
    font-size: 3em;
    font-weight: bold;
    color: rgb(250, 250, 250);
}
.title-desc{
    font-size: 1.2em;
    color: rgb(201, 201, 204);
}
.content-head{
    font-size: 1.1em;
    /* text-align: center; */
    font-weight: bold;
}
.content-desc{
    font-size: 1em;
}

.quote{
    padding: 20px;
}

#Header{
    margin: 10px;
}

#nevigation{
    overflow: hidden;
    width: auto;
    margin: 0 auto;
    padding: 20px 0px;
    /* background-color: rgba(0, 0, 0, 0.2); */
}
#nevigation > ul{
    list-style: none;
    margin: 0 auto; padding-left: 0;
    text-align: center;
}
#nevigation > ul > li{
    display: inline-block;
}
#nevigation a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px 20px auto; padding: 5px 20px;
    border: solid rgba(12, 23, 45, 0);
    border-radius: 20px;
    color: rgb(250, 250, 250);
}
#nevigation a:hover{
    color: rgb(201, 201, 204);
}

#content{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 1fr;
}
#content div{
    position: relative;
    padding: 10px 5px;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
}
#content > div{
    margin: 20px 5px;
    float: left;
}
#content > div:last-child{
    height: 500px;
    overflow: auto;
}
#content table{
    width: auto;
    margin: 0 auto; padding: 10px 0px 30px 0px;
    text-align: center;
}
#content th{
    padding: 0px 50px;
    width: 200px;
}
#content table .content-head{
    display: inline-block;
    padding: 10px 0px 20px 0px;
}
#content p{
    /* margin: 20px; */
}
#content p:first-child a{
    font-size: 1.1em;
    font-style: italic;
    text-decoration: none;
    /* color: rgb(31, 33, 46); */
}
#content p:first-child a:hover{
    color: rgb(201, 201, 204);
}
#content a{
    text-decoration: none;
    color: rgb(63, 81, 181);
}
#content a:active{
    color: rgb(201, 201, 204);
}

#footer{
    width: auto;
    margin: 0 auto;
}
#footer p{
    font-size: 0.8em;
    text-align: center;
    color: rgb(201, 201, 204);
}